[Desktop Entry]
Type=Application
Name=Jump Settings
Comment=Configure the Jump launcher
Exec=jump-settings
Icon=com.magnetaros.Jump
Terminal=false
Categories=Settings;
StartupNotify=true
StartupWMClass=com.magnetaros.JumpSettings
